body {
	font-family: 17px 'Cuprum', sans-serif;
	line-height: 24px;
	color: #ffffff;
	font-weight: normal; 
}

h1 {
	font-size: 30px;
	color: #32425c;
	font-weight: normal;
}

h2 {
	font-size: 30px;
	color: #32425c;
	font-weight: normal; 
}
