body {
	font-size: 17px;
	font-family: "Cuprum", "Arial", sans-serif;
	line-height: 24px;
	color: #fff;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

h1 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
	background: #f2f6f8;
	outline: 1px solid #2EC710;
	padding: 30px 30px;
	margin: 0;
}

h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	font-weight: normal;
	text-transform: uppercase;
	outline: 1px solid #2EC710;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.main-header {
	height: 49px;
	background: #293449;
}

.container-center {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	outline: 1px solid #C43408;
}

.logo {
	float: left;
	width: 220px;
	padding: 12px 0;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: top;
	color: #fff;
	border-bottom: 5px solid #b52933;
	background: #ee3643;
}

.logo:hover {
	background: #ca2c37;
}


.main-header form {
	float: left;
	width: 270px;
	padding: 12px 0;
	color: #000;
	text-align: center;
}


form {
	float: left;
	width: 220px;
	padding: 0;
	vertical-align: top;
	color:#000;
	text-align: center;
}

fieldset {
	border: none;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #f7f3ec;
}

fieldset:nth-last-child(2) {
	border: 0;
}

legend {
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
}

input {
	font-size: 17px;
	line-height: 18px;
	border: none;
	color: #fff;
	background: #293449;
}

label {
	display: block;
}

.bookmarks,
.cart {
	padding: 12px 0;
	width: 150px;
	text-align: center;
	color: #fff;
	float: left;
}

.bookmarks:active { background: #161d29;}
.cart:active { background: #161d29;}

/*Карзина при добавлении*/

.cart.active {
	background: #ee3643;
}

.order {
	padding: 12px 0;
	width: 150px;
	float: right;
	text-align: center;
	color: #fff;
	background-color: #63a63e;
}

.order:hover {background: #5fbb2d; }
.order:active {background: #518534;}

.information-container {
	padding: 46px 0 60px;
	background-color: #f1f5f7;
}

.information-content {
	padding-bottom: 46px;
}

.information-description {
	width: 200px;
	float: left;
	padding: 0px 53px 0;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.information-address{
	width: 270px;
	float: left;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.information-phone {
	padding: 11px 0;
	font-size: 21px;
	line-height: 18px;
	border: 3px solid #fff;
	color: #e9292a;
}

.information-authorization,
.information-authorized {
	float: right;
	width: 280px;
	vertical-align: top;
	text-align: center;
}

.registration {
	float: right;
	width: 110px;
}
.login {
	width: 80px;
	float: left;
}

/*Когда залогинен*/
.login,
.registration,
.logged {
	padding: 12px 20px;
	margin-right: 10px;
	background: #fff;
}

.registration:last-child {margin-right: 0px;}
.logged {margin-right: 0px; width: 260px; float: right;}

.my-orders, .personal-area {
	display: inline-block;
	padding-right: 10px;
	text-decoration: underline;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.navigation {
	margin: 0;
	padding: 0;
	text-align: center;
	background: #32425c;
	outline: 1px solid #2EC710;
}
.navigation ul {
	margin: 0;
	padding: 0;
	border-bottom: 5px solid #293449;
}

.navigation li {
	display:inline-block;
}

.navigation li a {
	display: inline-block;
	vertical-align: top;
	padding: 20px 30px 18px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	line-height: 17px;
	color: #fff;
}

.navigation li a:hover {background: #293449;}
.navigation li a:active {color: #93969c;}

.services {
	padding-bottom: 50px;
}

.services-item {
	float: left;
	width: 250px;
	min-height: 125px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 0 25px;
	outline: 1px solid #2EC710;
}

.services-item a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 3px;
	background-color: rgba(0,0,0,.1);
	color: #fff;
}

.services-item a:hover {background-color: rgba(0,0,0,.2);}
.services-item a:active {background-color: rgba(0,0,0,.3);}

.services-item:nth-child(3) {
	margin-right: 0px;
	float:right;
}

.services-item:nth-child(5) {
	margin-right: 0px;
	float: right;
}
.services-item:nth-child(6) {
	margin-right: 0px;
	float: right;
}

.services-item.new {
	background-color: #f6b22d;
	background-image: url(../img/materials-bucket.png);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}

.services-item.tools {
	background: #4aafde;
	background-image: url(../img/tools-drill.png);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}

.services-item.tech {
	background: #cc79d1;
	background-image: url(../img/tech-tractor.png);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}

.services-item.dicount {
	background: #85d179;
	background-image: url(../img/discount-cart.png);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}

.services-item.delivery {
	background: #f6b22d;
	background-image: url(../img/delivery-car.png);
	background-repeat: no-repeat;
	background-position: 80% 50%;
}

.service-slider {
	float: left;
	width: 621px;
	outline: 1px solid #2EC710;
}

.slide p {
	color: #000;
}

.main-btn {
	padding: 7px 20px;
	display: inline-block;
	font-size: 14px;
	border-radius: 3px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	background: #ee3643;
	color: #fff;
}

.main-btn:hover {background: #ca2c37;}
.main-btn:active {background: #ba2732;}

.popular-block .main-btn {
	float: right;
}

.popular-block {
	width: 940px;
	display: inline-block;
	padding: 20px 0;
	margin-bottom: 20px;
	outline: 1px solid #2EC710;
	background: #f7f3ec;
}

.page-title {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	float: left;
	text-transform: uppercase;
}

.popular-goods-item {
	width: 218px;
	float: left;
	min-height: 316px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.popular-goods-item:last-child {
	margin-right:0px;
}

.popular-goods-image {
	width: 100%;
	height: 160px;
}

.popular-goods-item p {
	padding: 0 15px 15px;
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.old-price {
	padding-bottom: 10px;
	line-height: 18px;
	text-decoration: line-through;
	color: #999999;
}

.current-price {
	padding:7px 15px;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	background: #ee3643;
	border-radius: 3px;
}

p + .current-price {
	margin-top: 24px;
	display: inline-block;
}

.popular-producers-block {
	width: 940px;
	display:inline-block;
	padding: 20px 0;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #f7f3ec;
	outline: 1px solid #2EC710;
}

.popular-producers-block .main-btn {
	float: right;
}

.brands {
	padding-bottom: 60px;
}

.brand {
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

.brand:nth-last-child(4n+1) {
	margin-right: 0;
}

.brand img {
	width: 218px;
	height: 143px;
	border: 1px solid #e5e5e5;
}

brand img:hover {box-shadow: 0 10px 20px rgba(0,0,0,0.2);}

/*.brand:nth-child(3n){
	margin-right: 0px;
	background: #000;
	border: 2px solid #000;
}*/

.services-block {
	background: #f2f6f8;
	padding-top: 70px;
}

.page-text {
	font-size: 14px;
	line-height: 24px;
	color: #000;
}

.services-block h2 {
	float:none;
}

.company-block {
	padding-top: 80px;
}

.about-company {
	width: 540px;
	float: left;
	outline: 1px solid #2EC710;
}

.about-company h2,
.about-company-contacts h2 {
	float:none;
}

.about-company ul li {
	font-size: 18px;
	line-height: 24px;
	color: #000;
}

.about-company-contacts {
	width: 310px;
	display:inline-block;
	float: right;
	outline: 1px solid #2EC710;
}

.map {
	width: 100%;
	height: 158px;
	padding-bottom: 20px;
	text-align: center;
}

.about-company-contacts .main-btn {
	display: block;
}

.footer-top {
	background: #32425c;
	padding-bottom: 50px;
}

.footer-contacts {
	width: 330px;
	float: left;
	margin-top: 30px;
	font-size:18px;
	line-height:  24px;
	color: #fff;
	outline: 1px solid #2EC710;
}

.footer-navigation {
	width: 550px;
	float: right;
	outline: 1px solid #2EC710;
	margin-top: 35px;
}

.footer-navigation a:hover {text-decoration: underline;}
.footer-navigation a:active {opacity:0.3;}


.footer-navigation li {
	display: inline-block;
	padding-right: 50px;
}

.footer-nav-first, .footer-nav-second{
	margin: 0;
	padding: 0;
}

.footer-nav-first a {
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
}
.footer-nav-second a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-nav-second li:first-child {padding-left: 20px; padding-top:20px;}
.footer-nav-first li:last-child {padding-right:0;}
.footer-nav-second li:last-child {padding-right:0;}

.footer-rights {
	width: 350px;
	margin-right: 40px;
	float: left;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	outline: 1px solid #2EC710;
}

.footer-social {
	width: 150px;
	display: inline-block;
	outline: 1px solid #2EC710;
}

.footer-social .btn-social {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: transparent;
	margin-right: 5px;
	background-color: #212a3a;
}

.btn-social:hover {background-color: #ee3643;}
.btn-social:active {background-color: #ee3643;}

.social-vk {
	background-image: url("../img/vk.png");
	background-repeat: no-repeat;
	background-position: 50% center;
}

.social-fb {
	background-image: url("../img/facebook.png");
	background-repeat: no-repeat;
	background-position: 50% center;
}

.social-in {
	background-image: url("../img/instagram.png");
	background-repeat: no-repeat;
	background-position: 50% center;
}

.footer-feedback {
	width: 140px;
	float: right;
	margin-right: 50px;
	outline: 1px solid #2EC710;
}

.footer-feedback a:hover {text-decoration: underline;}
.footer-feedback a:active {color: #ee3643;}

.footer-feedback p, .footer-design p {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	padding:0;
	margin:0;
}

.footer-feedback a, .footer-design a{
	font-size: 16px;
	line-height: 18px;
	color: #ffd180;
}

.footer-design {
	width: 140px;
	float: right;
	outline: 1px solid #2EC710;
}

.footer-design a:hover {text-decoration: underline;}
.footer-design a:active {color: #ee3643;}

footer {
	padding-top: 50px;
}

.footer-bottom {
	background: #293449;
	padding-bottom: 30px;
}


/*Стили для каталога*/

.breadcrumbs {
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li a {
	padding-right: 10px;
}

.breadcrumbs li:last-child a{
	padding-right: 0px;
}

.filter-container-left {
	width: 220px;
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	outline: 1px solid #2EC710;
}

.filter-title, .filter-container-right{
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	padding: 12px;
	border-radius: 3px;
	background: #f7f3ec;
	color: #000;
}

.range-price {
	font-size: 17px;
	line-height: 30px;
	text-align:  left;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 20px;
	border-bottom: 1px solid #f7f3ec;
	color: #000;
}

.filter-sorting {
	margin: 0;
	padding: 0;
}

.filter-sorting li {
	display: inline-block;
}

.filter-sorting li:first-child {
	width: 220px;
	padding-right: 5px;
}

.filter-sorting,
.active-list,
.type,
.functional,
.arrow-up,
.arrow-down {
	font-size: 13px;
	line-height: 18px;
}

.filter-sorting .active-list {
	color: #ee3643;
	margin-right: 25px;
}

.filter-sorting .type, .functional {
	display: inline-block;
	line-height: 18px;
	color: #acaaa5;
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
	margin: 0 40px;
}

.catalog {
	width: 700px;
	float: right;
	padding: 20px 0;
}

.catalog-items {
	padding-top: 22px;
}

.catalog-item {
	width: 218px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top;
	text-align: center;
	min-height: 317px;
	border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
	margin-right: 0px;
}

.catalog-image {
	width: 100%;
	height: 160px;
}

.catalog-item p {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	padding: 0 16px 20px;
	margin: 0;
	color: #000;
}

.pagination {
	display: inline-block;
	padding-top: 50px;
}

.pagination ul {
	padding: 0;
	margin: 0;
}

.pagination-page li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 6px 18px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	cursor: pointer;
}

.pagination-page .main-btn {
	border: none;
	background: #fff;
	padding: 0;
	margin: 0;
	color: #000;
}

.pagination-page li.active {
	background: #ee3643;
	border: 1px solid #ee3643;
}

.content-about {
	background: #f2f6f8;
}

.content-about-block {
	padding-top: 60px;
}



